<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/home/AC-Auction}">
<head>
	<meta charset="UTF-8">
	<title>Bảo hành</title>

</head>

<body>

    <div layout:fragment="main-content">
		<div class="edit-profile">
			<div class="card border-0 rounded-0 shadow-sm">
		
		        <div class="card-body p-3 rounded-0 border-0">
		
		            <div class="card-text pt-1">
						<h2 class="f-17">
		                    Chính sách bảo hành và đổi trả:
		                </h2>
		                <p>- Chính sách bảo hành, đổi trả được quy định chi tiết trong Nội quy đấu giá của từng phiên đấu giá và phụ thuộc vào từng tài sản. </p>
						<P>- Khách hàng vui lòng đọc kỹ Nội quy đấu giá trước khi tham gia đấu giá.</P>
		            </div>
		        </div>
		    </div>
	  </div>                                               
    </div>
</body>
</html>
