<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/home/AC-Auction}">
<head>
	<meta charset="UTF-8">
	<title>Chính sách khiếu nại</title>

</head>

<body>

    <div layout:fragment="main-content">
		<div class="edit-profile">
			<div class="card border-0 rounded-0 shadow-sm">
		        <div class="card-body p-3 rounded-0 border-0">
		
		            <div class="card-text pt-1">
						<h2 class="f-17">
		                    Chính sách khiếu nại, bồi thường: 
		                </h2>
		                <p>- Thời gian khách hàng gửi khiếu nại: Trong vòng 24h kể từ khi nhận được tài sản trúng đấu giá.</p>
						<P>- Thời gian tiếp nhận và xử lý khiếu nại: Được phản hồi trong vòng 1 ngày nếu khiếu nại của khách hàng liên quan tới các bộ phận nghiệp vụ của ACGroup.</P>
						<p>- Nếu khiếu nại của khách hàng liên quan tới người có tài sản đấu giá, phản hồi của chúng tôi sẽ gửi tới khách hàng trong vòng 3-5 ngày phụ thuộc vào sự hợp tác của người có tài sản đấu giá.</p>
						<p>- Thời gian xử lý khiếu nại dịch vụ phụ thuộc vào các yếu tố sau:</p>
						<ul>
							<li>Đối với các khiếu nại cần xác nhận thông tin hoặc làm việc với bên thứ ba gồm (người có tài sản đấu giá, đơn vị vận chuyển…): ACGroup sẽ  phải làm việc với các đơn vị này để có thông tin và xử lý khiếu nại.</li>
							<li>Đối với các khiếu nại phát sinh từ lỗi của ACGroup, chúng tôi sẽ xử lý trong vòng 03 ngày trong trường hợp không bị gián đoạn trong quá trình trao đổi và liên lạc với khách hàng về các phương án xử lý. </li>
						</ul>
		            </div>
		        </div>
		    </div> 
		</div>                       
    </div>
</body>
</html>
