<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{views/home/AC-Auction}">

<head>
	<meta charset="UTF-8">
	<title>Giới thiệu</title>

</head>

<body>

	<div layout:fragment="main-content">
		<div class="edit-profile">
			<div class="card border-0 rounded-0 shadow-sm">

				<div class="card-body p-3 rounded-0 border-0">

					<div class="card-text pt-1">
						<h5>"DAUGIA.IO| NỀN TẢNG ĐẤU GIÁ HÀNG ĐẦU TRÊN ĐIỆN THOẠI CỦA BẠN</h5>
						<p>Daugia.io là nền tảng mua sắm hoàn toàn mới tại nước ta được bảo trợ bởi AC Group. Chúng tôi
							mong muốn mang đến một thói quen tiêu dùng khác biệt, bạn có thể sở hữu những sản phẩm chất
							lượng với mức giá do chính bạn đặt ra.</p>
						<h5> ĐA NỀN TẢNG</h5>
						<p> Bạn có thể dễ dàng tham gia ngay trên điện thoại cũng như máy tính của mình. Daugia.io đã
							được tối ưu cho điện thoại. Dự kiến phiên bản App Mobile sẽ có mặt trên chợ ứng dụng vào quý
							IV/2021.</p>
						<h5>ĐA DẠNG SẢN PHẨM</h5>
						<p>Với nhiều ngành hàng khách nhau với hàng chục phiên đấu giá mỗi ngày, bạn có thể dễ dàng tìm
							thấy sản phẩm phù hợp với nhu cầu của mình với mức giá tốt nhất. Không chỉ dừng lại ở những
							vật phẩm giá trị lớn mà bắt đầu với những món đồ gia dụng cùng nhiều mức giá, bất cứ ai cũng
							có thể tham gia phiên với mức phí chỉ từ 0 đồng.</p>
						<h5> NHIỀU CHÍNH SÁCH HỖ TRỢ</h5>
						<p>Tất cả các sản phẩm của daugia.io đều được hưởng chính sách, hỗ trợ đầy đủ từ nhà sản xuất.
							Thêm vào đó là các chương trình khuyến mãi hấp dẫn như Miễn phí vận chuyển, thưởng giới
							thiệu cùng hàng triệu Giftcode đã sẵn sàng để gửi đến cho người dùng mới để thoải mái tham
							gia mà chưa bỏ bất cứ chi phí nào. </p>

						<p>Có rất nhiều ưu đãi đang đợi bạn, hãy đăng ký tham gia ngay hôm nay!"</p>
						<hr />
					</div>
				</div>
			</div>
		</div>

	</div>
</body>

</html>