<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/home/AC-Auction}">
<head>
	<meta charset="UTF-8">
	<title>Hướng dẫn đăng ký tài khoản Sàn daugia.io</title>

</head>

<body>

    <div layout:fragment="main-content">
		<div class="edit-profile">
		    <div class="card border-0 rounded-0 shadow-sm">
		
		        <div class="card-body p-3 rounded-0 border-0">
		
		            <div class="card-text pt-1">
						<h5>1. Hướng dẫn đăng ký tài khoản Sàn Tiktak</h5>
						<div class="text-center image">
							<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615538636035-taoktiktak.png?alt=media&token=cd4c799d-1a11-480f-91c2-900f6f5f1a11" alt="">
						</div>
						<h5>2. Hướng dẫn nạp tiền từ tài khoản cá nhân vào Sàn Tiktak</h5>
						<div class="text-center image">
							<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615538807283-napvaotiktak.png?alt=media&token=56d64599-b121-47df-b9aa-ce52ca5a61b2" alt="">
						</div>
						<h5>3. Hướng dẫn rút tiền từ Sàn Tiktak về tài khoản cá nhân</h5>
						<div class="text-center image">
							<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615538893242-rutientutiktak.png?alt=media&token=2cf5a54f-cdbe-425d-8d83-99b3a0a65492" alt="">
						</div>
						<h5>4. Hướng dẫn nạp tiền từ Sàn Tiktak sang Sàn daugia.io</h5>
						<ul style="list-style-type:none">
							<li>
								<h6>4.1. Hướng dẫn lấy địa chỉ ví VNDT trên Sàn daugia.io</h6>
								<div>
									Khách hàng cần lấy địa chỉ ví VNDT của mình trên Sàn daugia.io và dùng địa chỉ ví này để rút tiền từ Sàn Tiktak sang Sàn daugia.io. Cách lấy địa chỉ ví VNDT trên Sàn daugia.io như sau:
								</div>
								<div class="text-center image">
									<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615540114770-.1.png?alt=media&token=594099fa-062f-4eec-9978-83ff6c005b71" alt="">
								</div>
							</li>
							<li>
								<h6>4.2. Hướng dẫn rút tiền từ Sàn Tiktak sang Sàn daugia.io</h6>
								<div>
									Sau khi có địa chỉ ví VNDT của mình trên Sàn daugia.io, khách hàng dùng địa chỉ đó để rút tiền từ Sàn Tiktak sang Sàn daugia.io như sau:
								</div>
								<div class="text-center image">
									<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615540302107-.2.png?alt=media&token=2bea2e62-2ab7-4f41-b685-1358b8f9be76" alt="">
								</div>
							</li>
						</ul>
		            </div>
		        </div>
		    </div>
		</div>
                        
    </div>
</body>
</html>
<style>
	.image{
		overflow-x: scroll;
	}
</style>
