<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/home/AC-Auction}">
<head>
	<meta charset="UTF-8">
	<title>Hướng dẫn đăng ký tài khoản Sàn daugia.io</title>

</head>

<body>

    <div layout:fragment="main-content">
		<div class="edit-profile">
		    <div class="card border-0 rounded-0 shadow-sm">
		
		        <div class="card-body p-3 rounded-0 border-0">
		
		            <div class="card-text pt-1 text-center image">
		                <img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615537880052-Screenshot%202021-03-12%20153058.png?alt=media&token=9c670f2b-257e-4398-ad20-1aea249556f7" alt="">
		            </div>
		        </div>
		    </div>
		</div>
                        
    </div>
</body>
</html>
<style>
	.image{
		overflow-x: scroll;
	}
</style>
