<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/home/AC-Auction}">
<head>
	<meta charset="UTF-8">
	<title>Hướng dẫn đăng ký tài khoản Sàn daugia.io</title>

</head>

<body>

    <div layout:fragment="main-content">
		<div class="edit-profile">
		    <div class="card border-0 rounded-0 shadow-sm">
		
		        <div class="card-body p-3 rounded-0 border-0">
		
		            <div class="card-text pt-1">
		                <h5>1. Hướng dẫn đăng ký tài khoản Sàn Tiktak</h5>
						<div>Để rút tiền từ Sàn daugia.io về tài khoản của mình, khách hàng cần thực hiện rút tiền từ Sàn daugia.io về Sàn Tiktak sau đó rút tiếp về tài khoản ngân hàng (khách hàng xem chi tiết hướng dẫn rút tiền từ Sàn Tiktak về tài khoản cá nhân tại mục 3 phần C). Để rút tiền về Sàn Tiktak khách hàng cần có địa chỉ ví VNDT trên Sàn Tiktak. Cách lấy địa chỉ ví VNDT trên Sàn Tiktak như sau:</div>
						<div class="text-center image">
							<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615540568378-1.1.png?alt=media&token=46efc5cb-731e-4696-b9b9-d71f7681cac6" alt="">
						</div>
						<h5>2. Hướng dẫn nạp tiền từ tài khoản cá nhân vào Sàn Tiktak</h5>
						<div>Sau khi có địa chỉ ví VNDT của mình trên Sàn Tiktak, khách hàng dùng địa chỉ đó để rút tiền từ Sàn daugia.io sang Sàn Tiktak như sau:</div>
						<div class="text-center image">
							<img src="https://firebasestorage.googleapis.com/v0/b/achauauction.appspot.com/o/1615540586722-1.2.png?alt=media&token=2b19357b-3467-4425-b902-391260cfced0" alt="">
						</div>
		            </div>
		        </div>
		    </div>
		</div>
                        
    </div>
</body>
</html>
<style>
	.image{
		overflow-x: scroll;
	}
</style>

