<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{views/home/AC-Auction}">
<head>
	<meta charset="UTF-8">
	<title>Trợ giúp</title>

</head>

<body>

    <div layout:fragment="main-content">
		<div class="edit-profile">
			<div class="card border-0 rounded-0 shadow-sm">
			
			    <div class="card-body p-3 rounded-0 border-0">
			
			        <div class="card-text pt-1">
			
			            <p>Fugiat quas aut sed consectetur. Ipsum ex ut fuga eos neque et quas quis. Non ut pariatur doloremque omnis rem quis maiores. Est eum rem nemo placeat. Amet velit non qui vitae ea sit. Est facilis accusamus unde fugit. Et molestias eius nihil. Ab placeat quam recusandae accusantium doloribus veritatis rerum et.</p>
			            <p>Incidunt sint eos neque similique aspernatur quia eius quisquam. Non vel facilis rerum eum magnam debitis tempora. Optio atque ratione doloremque ipsum est et. Asperiores iure aliquid pariatur vel impedit vitae optio. Provident quo architecto necessitatibus. Esse modi ratione expedita aut non iure necessitatibus. Recusandae reiciendis sapiente reiciendis tempore. Repellat et rem occaecati similique reiciendis enim. Inventore autem aut animi et aut dicta. Qui expedita sed accusamus dicta soluta qui ex asperiores. Aut praesentium expedita placeat laborum laudantium consequuntur. Non consequuntur fuga maxime aperiam unde ab sint.</p>
			            <p>Eos quia quibusdam minima necessitatibus. Totam voluptas sequi dolores natus nulla. Neque rerum quidem sed voluptatibus nobis quo omnis. Quas laudantium laboriosam est sunt. Sit aut sed quidem numquam. Iure laboriosam qui molestiae sed recusandae. Commodi a rem doloremque velit porro est rerum amet. Praesentium ducimus qui consequatur quos at corrupti.</p>
			            <p>Inventore velit asperiores et. Eum nam vitae facere ratione. Incidunt nesciunt eum odio. Ea enim aut reiciendis sed debitis consequatur. Iste enim nulla sed atque iusto nemo. Libero autem aut aut perspiciatis qui nulla sunt. Quisquam ab fugit ut. Sequi assumenda qui quisquam nihil officiis nulla. Repellat quo esse non consequatur nihil minus magnam. Atque exercitationem sit et adipisci quae voluptates et. Deserunt explicabo dolorem voluptatem earum.</p>
			            <p>Fugiat quas aut sed consectetur. Ipsum ex ut fuga eos neque et quas quis. Non ut pariatur doloremque omnis rem quis maiores. Est eum rem nemo placeat. Amet velit non qui vitae ea sit. Est facilis accusamus unde fugit. Et molestias eius nihil. Ab placeat quam recusandae accusantium doloribus veritatis rerum et.</p>
			            <p>Incidunt sint eos neque similique aspernatur quia eius quisquam. Non vel facilis rerum eum magnam debitis tempora. Optio atque ratione doloremque ipsum est et. Asperiores iure aliquid pariatur vel impedit vitae optio. Provident quo architecto necessitatibus. Esse modi ratione expedita aut non iure necessitatibus. Recusandae reiciendis sapiente reiciendis tempore. Repellat et rem occaecati similique reiciendis enim. Inventore autem aut animi et aut dicta. Qui expedita sed accusamus dicta soluta qui ex asperiores. Aut praesentium expedita placeat laborum laudantium consequuntur. Non consequuntur fuga maxime aperiam unde ab sint.</p>
			
			        </div>
			    </div>
			</div>
	  </div>
		</div>
                        
    </div>
</body>
</html>
