<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Daugia.io | Nền Tảng Đấu Giá Online Hàng Đầu</title>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico" />
	<!-- Main Tag -->
	<!-- <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Daugia.io | Nền Tảng Đấu Giá Online Hàng Đầu</title> -->
	<meta id="PagKeywords" name="keywords" content="daugiaio" />
	<meta id="PagDescription" name="description"
		content="Sở hữu hàng triệu sản phẩm chất lượng với mức giá hấp dẫn cùng nhiều ưu đãi. Đăng ký ngay" />
	<link id="LnkIcon" href="/images/favicon/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="canonical" href="https://daugia.io/" />
	<meta name=”robots” content=”all” />

	<!-- Facebook Tag -->
	<meta id="og_app_id" property="fb:app_id" content="-nhap-id-facebook-" />
	<meta id="og_site_name" property="og:site_name" content="Nền Tảng Đấu Giá Online Hàng Đầu" />
	<meta id="og_description" property="og:description"
		content="Sở hữu hàng triệu sản phẩm chất lượng với mức giá hấp dẫn cùng nhiều ưu đãi. Đăng ký ngay" />
	<meta property="og:rich_attachment" content="true" />
	<meta id="og_type" property="og:type" content="website" />
	<meta id="og_image" property="og:image" content="/images/Brand_daugia.io_logo.png" />
	<meta property="og:image:width" content="640" />
	<meta property="og:image:height" content="378" />
	<meta id="og_url" property="og:url" content="https://daugia.io/" />
	<meta id="og_title" property="og:title" content="Nền Tảng Đấu Giá Online Hàng Đầu" />
	<meta id="og_publisher" property="article:publisher" content="daugia.io" />

	<!-- Twitter Tag -->
	<meta id="tw_card" name="twitter:card" content="summary" />
	<meta id="tw_url" name="twitter:url" content="https://daugia.io/" />
	<meta id="tw_title" name="twitter:title" content="Nền Tảng Đấu Giá Online Hàng Đầu" />
	<meta id="tw_description" name="twitter:description"
		content="Sở hữu hàng triệu sản phẩm chất lượng với mức giá hấp dẫn cùng nhiều ưu đãi. Đăng ký ngay" />
	<meta id="tw_image" name="twitter:image" content="/images/Brand_daugia.io_logo.png" />
	<meta name="twitter:site" content="Nền Tảng Đấu Giá Online Hàng Đầu" />
	<meta name="twitter:creator" content="Nền Tảng Đấu Giá Online Hàng Đầu" />
	<meta name="facebook-domain-verification" content="x9rhe68bog7wcr5ukzwrkj9dryitnt" />

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="/lib/slick/slick.css" rel="stylesheet">
	<link href="/lib/slick/slick-theme.css" rel="stylesheet">
	<link href="/lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
	<link href="/lib/lineawesome/line-awesome.min.css" rel="stylesheet">
	<link href="/lib/owl-carousel/owl.carousel.css" rel="stylesheet" />
	<link href="/lib/owl-carousel/owl.theme.default.css" rel="stylesheet" />
	<link href="/lib/splide-slide/splide.min.css" rel="stylesheet" />
	<link href="/lib/splide-slide/splide-default.min.css" rel="stylesheet" />
	<link href="/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
	<link href="/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
	<!-- Main Stylesheet File -->
	<link href="/css/index.css" rel="stylesheet">
	<!-- ggsite verification -->
	<meta name="google-site-verification" content="d59TLtSzG2VuvIRxxbxdtsVw2HRUHmrwoOyjdwz6haw" />
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-WR84HZW');</script>
	<!-- End Google Tag Manager -->
</head>
<script>
	!function (f, b, e, v, n, t, s) {
		if (f.fbq) return; n = f.fbq = function () {
			n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
		};
		if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
		n.queue = []; t = b.createElement(e); t.async = !0;
		t.src = v; s = b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t, s)
	}(window, document, 'script',
		'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '376933220124948');
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=376933220124948&ev=PageView&noscript=1" />
</noscript>
<!-- End Facebook Pixel Code -->
<style>
	#CompleteLogInButton {
		position: relative;
	}

	#CompleteLogInButton.spinning {
		padding-right: 15px;
	}

	#CompleteLogInButton.spinning:before {
		content: "";
		width: 0px;
		height: 0px;
		border-radius: 50%;
		right: -10px;
		top: 50%;
		border: 2px solid white;
		border-right: 3px solid #2A0A42;
		position: absolute;
		animation: rotate360 .5s infinite linear, exist .1s forwards ease;
	}

	#CompleteRegistrationButton {
		position: relative;
	}

	#CompleteRegistrationButton.spinning {
		padding-right: 15px;
	}

	#CompleteRegistrationButton.spinning:before {
		content: "";
		width: 0px;
		height: 0px;
		border-radius: 50%;
		right: -10px;
		top: 50%;
		border: 2px solid white;
		border-right: 3px solid #2A0A42;
		position: absolute;
		animation: rotate360 .5s infinite linear, exist .1s forwards ease;
	}
	/* để phần này ko xóa của Linh */
	.spinning {
		padding-right: 15px;
	}
	.text-spinning {
		color: #FAB414 !important;
	}
	.spinning:before {
		content: "";
		width: 0px;
		height: 0px;
		border-radius: 50%;
		/* right: -10px; */
		top: 50%;
		border: 2px solid white;
		border-right: 3px solid #FAB414;
		position: absolute;
		animation: rotate360 .5s infinite linear, exist .1s forwards ease;
	}
	@keyframes rotate360 {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes exist {
		100% {
			width: 15px;
			height: 15px;
			margin: -8px 5px 0 0;
		}
	}

	.form-group {
		height: 70px;
	}

</style>

<body>
	<div id="timeNow" class="d-none" th:text="${system_time}"></div>
	<div class="wrapper">
		<div class="dg-header">
			<div class="box-menu-mbl d-none">
				<div class="dg-header-top-mobile">
					<div class="d-flex align-items-center">
						<div class="dg-show-sidebar"><img src="/images/layout/showmenu.svg" alt="" /></div>
						<div class="dg-hide-sidebar" style="display: none;"><img src="/images/layout/showmenu.svg"
								alt="" /></div>

						<div class="dg-logo-mbl">
							<a href="/"><img src="/images/layout/logo.png" alt="" /></a>
						</div>
					</div>

					<div class="dg-search d-none">
						<img class="search-icn" src="/images/layout/search.svg" alt="" />
						<input type="text" class="form-control" placeholder="Tìm sản phẩm" />
					</div>

					<div class="dg-login" th:if="${user == null}">
						<button class="btn dg-btn-line open-modal-tab-login">Đăng nhập</button>
						<button class="btn dg-btn-white open-modal-tab-register" data-toggle="modal"
							data-target="#modalLogin">Đăng ký</button>
					</div>

					<div class="dg-user-info" th:if="${user}">
						<a href="javascript:void(0)">
							<div class="mbl-box-search"><img src="/images/layout/search.svg" alt="" /></div>
						</a>
						<!-- <a href="javascript:void(0)">
							<div class="dg-noty">
								<img src="/images/layout/noty2.svg" alt="" />
								<div class="box-qty">99+</div>
							</div>
						</a> -->
						<div class="dropdown ml-2">
							<div class="avatar dropdown-toggle" data-toggle="dropdown">
								<img th:src="${user.avatar} ? ${user.avatar} : '/images/ac-img/no-avatar.png'" alt="" />
							</div>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="">
									<div class="box-price">
										<div class="txt-1">Tài khoản chính:</div>
										<div class="txt-2"><span th:text="${user.VNDTBalance}" class="cur-format font-weight-bold"></span> VNDT</div>
										<div class="border-btm"></div>
									</div>
								</a>
								<a class="dropdown-item" href="/ho-so-ca-nhan"> <img src="/images/layout/user-2.svg" alt="" /> Hồ sơ
									cá nhân </a>
								<a class="dropdown-item" href="/thay-doi-mat-khau"> <img src="/images/layout/key.svg" alt="" /> Đổi mật
									khẩu </a>
								<a class="dropdown-item" href="/dia-chi-van-chuyen"> <img src="/images/layout/address.svg" alt="" /> Địa
									chỉ nhận hàng </a>
								<a class="dropdown-item logOut"> <img src="/images/layout/logout.svg" alt="" /> Đăng
									xuất </a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dg-header-top">
				<form class="dg-search">
					<img class="search-icn" src="/images/layout/search.svg" alt="" />
					<input type="text" class="form-control keyword-text" placeholder="Tìm sản phẩm" />
				</form>

				<div class="dg-login" th:if="${user == null}">
					<button class="btn dg-btn-line open-modal-tab-login">Đăng nhập</button>
					<button class="btn dg-btn-white open-modal-tab-register" data-toggle="modal"
						data-target="#modalLogin">Đăng ký</button>
				</div>

				<div class="dg-user-info" th:if="${user}">
					<div class="dg-price"><span th:text="${user.VNDTBalance}" class="cur-format"></span> VNDT</div>
					<div class="dg-price-hidden">********* VNDT</div>
					<img src="/images/layout/eye-2.svg" alt="" class="switch-balance" />
					<a href="/nap-tien" class="btn btn-nap-vndt">NẠP VNDT</a>

					<!-- like -->
					<div class="top-like d-none d-sm-block mr-2" th:if="${user != null}">
						<div class="h-100 d-flex align-items-center">
							<div class="dropdown d-inline-block">
								<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="box-icon icon-like d-block">
										<div class="box-heart">
											<img src="/images/layout/heart.svg" alt="" />
										</div>
										<div class="box-qty"
											th:text="${liked_auction_all} == null ? '0' : ((${#lists.size(liked_auction_all)} > 9) ? '9+' : ${#lists.size(liked_auction_all)})">
										</div>
									</span>
								</a>
								<!-- Drop box -->
								<div class="dropdown-menu dropdown-menu-right p-0">
									<div class="card border-0 f-13">
										<div class="card-body border-0 p-3">
											<h5 class="card-title f-18">Đấu giá yêu thích</h5>
											<hr class="mt-1 mb-2 pb-1" />
											<div class="top-list-box pro-like">
												<!-- List Product -->
												<div class="pro-list">
													<a class="pro-item d-flex pt-3 pb-1"
														th:each="auc : ${liked_auction_top_3}"
														th:href="@{/chi-tiet-dau-gia/{id}(id = ${auc.auction.id})}"
														th:attr="data-home-likeId=${auc.auction.id}"
														style="border-bottom:1px solid rgba(0,0,0,.1);">
														<div class="pro-img">
															<img th:src="${auc.auction.getAssest().images} ? ${#strings.arraySplit(auc.auction.getAssest().images, ',')[0]}"
																style="width: 110px; height: 75px; object-fit: contain;" />
														</div>
														<div class="pro-info">
															<h5 class="f-13" th:text="${auc.auction.getAssest().name}"
																style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
															</h5>
															<p>
																<span class="d-block curPriceLike"
																	th:if="${auc.auction.status == 'Active'}">Giá hiện
																	tại:
																	<span class="cur-format"
																		th:text="${auc.auction.currentPrice == 0 ? auc.auction.bidPrice : auc.auction.currentPrice}"
																		th:attr="data-likeId=${auc.auction.id}"></span>
																	VNDT

																</span>
																<span class="d-block"
																	th:if="${auc.auction.status == 'Upcoming'}">Giá khởi
																	điểm:
																	<span class="cur-format"
																		th:text="${auc.auction.getAssest().bidPrice}"></span>
																	VNDT
																</span>
																<span class="d-block"
																	th:if="${auc.auction.status == 'Active'}">Kết thúc:
																	<strong class="text-dark font-weight-500 timing"
																		th:attr="data-action-time=${auc.auction.endAt}">
																		<span class="time-num"></span> <span class="time-num"></span>:<span class="time-num"></span>:<span class="time-num"></span>
																	</strong>
																</span>
																<span class="d-block"
																	th:if="${auc.auction.status == 'Upcoming'}">Bắt đầu:
																	<strong class="text-dark font-weight-500 timing"
																		th:attr="data-action-time=${auc.auction.startAt}">
																		<span class="time-num"></span> <span class="time-num"></span>:<span class="time-num"></span>:<span class="time-num"></span>
																	</strong>
																</span>
																<span class="d-block"
																	th:if="${auc.auction.status == 'Ended'}">Kết
																	thúc</span>
															</p>
														</div>
													</a>
												</div>
												<!-- List Product -->
											</div>
											<div class="text-center mt-3">
												<a href="/dau-gia-yeu-thich" class="text-muted d-block"> Xem tất cả <i
														class="las la-arrow-right"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Drop box -->
							</div>
						</div>
					</div>
					<!-- like -->

					<!-- <a href="javascript:void(0)">
						<div class="dg-noty">
							<img src="/images/layout/noty2.svg" alt="" />
							<div class="box-qty">99+</div>
						</div>
					</a> -->

					<div class="dropdown">
						<div class="avatar dropdown-toggle" data-toggle="dropdown">
							<span class="UserId d-none" th:text="${user.id}"></span>
							<img th:src="${user.avatar} ? ${user.avatar} : '/images/ac-img/no-avatar.png'" alt="" />
						</div>
						<div class="dropdown-menu profile">
							<a class="dropdown-item" href="/ho-so-ca-nhan"> <img src="/images/layout/user-2.svg"
									alt="" /> Hồ sơ cá
								nhân </a>
							<a class="dropdown-item" href="/thay-doi-mat-khau"> <img src="/images/layout/key.svg"
									alt="" /> Đổi mật khẩu
							</a>
							<a class="dropdown-item" href="/dia-chi-van-chuyen"> <img src="/images/layout/address.svg"
									alt="" /> Địa chỉ
								nhận hàng </a>
							<a class="dropdown-item logOut"> <img src="/images/layout/logout.svg" alt="" /> Đăng xuất
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="dg-logo-header-pc">
				<a href="/"><img src="/images/layout/logo.png" alt="" /></a>
			</div>

			<div class="dg-sidebar ">
				<!-- Sidebar  -->
				<nav id="sidebar" style="margin-top: 60px" th:with="url=${#httpServletRequest.requestURI}">
					<div class="nav-item" th:classappend="${url == '/' ? 'active' : ''}">
						<div class="parent-nav-item" data-toggle="collapse" data-target="#nav1">
							<a href="/">
								<img class="icn-menu" src="/images/layout/trang-chu.svg" alt="" />
									<span class="txt-nav">Trang chủ</span>
							</a>
							<div class="show-more-icn"><img src="/images/layout/next-menu.svg" alt="" /></div>
						</div>
					</div>

					<div class="nav-item" th:classappend="${(url == '/dau-gia-da-tham-gia' || url == '/danh-sach-phien-dau-gia') ? 'active' : ''}">
						<div class="parent-nav-item" data-toggle="collapse" data-target="#nav2">
							<a href="#"><img class="icn-menu" src="/images/layout/dau-gia.svg" alt="" /><span
									class="txt-nav">Đấu giá</span></a>
							<div class="show-more-icn"><img src="/images/layout/next-menu.svg" alt="" /></div>
						</div>
						<div id="nav2" class="child-nav collapse">
							<a href="/dau-gia-da-tham-gia" th:if="${user}">
								<div class="child-nav-item" th:classappend="${url == '/dau-gia-da-tham-gia' ? 'child-active' : ''}">
									Đang đấu giá
									<div class="box-qty" th:if="${user}" th:text="${auctionAttendAll !=null ? (#lists.size(auctionAttendAll) < 10 ? '0' + #lists.size(auctionAttendAll) : #lists.size(auctionAttendAll)) : '00'}"></div>
								</div>
							</a>
							<a href="/danh-sach-phien-dau-gia">
								<div class="child-nav-item" th:classappend="${url == '/danh-sach-phien-dau-gia' ? 'child-active' : ''}">
									Danh sách phiên đấu giá
								</div>
							</a>
						</div>
					</div>

					<div class="nav-item" th:classappend="${(url == '/vi-va-so-du' || url == '/nap-tien' || url == '/rut-tien') ? 'active' : ''}">
						<div class="parent-nav-item" data-toggle="collapse" data-target="#nav3">
							<a href="#"><img class="icn-menu" src="/images/layout/vi.svg" alt="" /><span
									class="txt-nav">Ví & số dư</span></a>
							<div class="show-more-icn"><img src="/images/layout/next-menu.svg" alt="" /></div>
						</div>
						<div id="nav3" class="child-nav collapse">
							<a href="/vi-va-so-du">
								<div class="child-nav-item"
								th:classappend="${(url == '/vi-va-so-du') ? 'child-active' : ''}">
									Ví và số dư
									<!-- <div class="box-qty">08</div> -->
								</div>
							</a>
							<a href="/dat-coc-dau-gia">
								<div class="child-nav-item"
								th:classappend="${(url == '/dat-coc-dau-gia') ? 'child-active' : ''}">
									Lịch sử đặt cọc
								</div>
							</a>
							<a href="/nap-tien">
								<div class="child-nav-item"
								th:classappend="${(url == '/nap-tien') ? 'child-active' : ''}">Nạp tiền</div>
							</a>
							<a href="/rut-tien">
								<div class="child-nav-item"
								th:classappend="${(url == '/rut-tien') ? 'child-active' : ''}">Rút tiền</div>
							</a>
						</div>
					</div>

					

					<div class="nav-item" th:classappend="${(url == '/gio-hang') ? 'active' : ''}">
						<div class="parent-nav-item" data-toggle="collapse" data-target="#nav6">
							<div class="d-flex align-items-center">
								<a href="/gio-hang"><img class="icn-menu" src="/images/layout/cart.svg" alt="" /><span
										class="txt-nav">Giỏ hàng</span> </a>
								<!-- <div class="box-qty">08</div> -->
							</div>
							<div class="show-more-icn"><img src="/images/layout/next-menu.svg" alt="" /></div>
						</div>
						<div id="nav6" class="child-nav collapse"></div>
					</div>


				</nav>

				<div class="dg-collapse">
					<a class="" href="javascript:void(0)">
						<img class="icn-collapse" src="/images/layout/thu-gon.svg" alt="" />
						<span>Thu gọn</span>
					</a>
				</div>
				<div class="dg-show-sidebar-bottom d-none">
					<a class="" href="javascript:void(0)">
						<img src="/images/layout/show-more-sidebar.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div layout:fragment="content"></div>
		<div class="dg-footer">
			<div class="dg-footer-top">
				<div class="row">
					<div class="col-xl-4 col-lg-6">
						<div class="box-care-user">
							<div class="txt-tt">Chăm sóc khách hàng</div>
							<div class="list-user-care d-flex">
								<div class="child-box-1">
									<div class="itm-ft">Trung Tâm Trợ Giúp</div>
									<div class="itm-ft">Hướng Dẫn Mua Hàng</div>
									<div class="itm-ft">Thanh Toán</div>
									<div class="itm-ft">Săn vé sự kiện</div>
								</div>
								<div class="child-box-2">
									<div class="itm-ft">Vận Chuyển</div>
									<div class="itm-ft">Trả Hàng & Hoàn Tiền</div>
									<div class="itm-ft">Chăm Sóc Khách Hàng</div>
									<div class="itm-ft">Chính Sách Bảo Hành</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-6">
						<div class="box-link">
							<div class="txt-tt">Liên kết</div>
							<div class="child-box-1">
								<div class="itm-ft">AC Group</div>
								<div class="itm-ft">AC Wallet</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12">
						<div class="box-company-info">
							<div class="txt-tt">CÔNG TY CỔ PHẦN TẬP ĐOÀN ĐẦU TƯ VÀ PHÁT TRIỂN DỰ ÁN Á CHÂU</div>
							<div class="child-box-1">
								<div class="itm-ft">Địa chỉ: Tầng 4, TTTM V+, Số 505 Minh Khai, P. Vĩnh Tuy, Q. Hai Bà
									Trưng, Tp. Hà Nội.</div>
								<div class="itm-ft">Điện thoại: 024.368.66666 - số máy lẻ 204</div>
								<div class="itm-ft">Email: contact@daugia.io</div>
								<div class="itm-ft">Website: https://daugia.io</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="dg-footer-bottom">Bản quyền © 2021 Công ty Cổ phần Tập đoàn Đầu tư và Phát triển Dự án Á Châu.
			</div>
		</div>
	</div>
	<!-- JavaScript Libraries -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"
		type="text/javascript"></script>
	<script src="/lib/jquery/jquery.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/lib/superfish/superfish.js"></script>
	<script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
	<script src="/lib/slick/slick.min.js"></script>
	<script src="/lib/easing/easing.min.js"></script>
	<script src="/lib/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="/lib/owl-carousel/owl.carousel.min.js"></script>
	<script src="/lib/splide-slide/splide.min.js"></script>
	<script src="/lib/daterangepicker/moment.min.js"></script>
	<script src="/lib/daterangepicker/daterangepicker.min.js"></script>
	<script src="/lib/fancybox/jquery.fancybox.min.js"></script>
	<script src="/lib/pagination/pagination.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-animateNumber/0.0.14/jquery.animateNumber.min.js"
		integrity="sha512-WY7Piz2TwYjkLlgxw9DONwf5ixUOBnL3Go+FSdqRxhKlOqx9F+ee/JsablX84YBPLQzUPJsZvV88s8YOJ4S/UA=="
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="/lib/confetti/confetti.min.js"></script>
	<!-- Template Main Javascript File -->
	<script src="/js/init.js"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WR84HZW" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- BEGIN: MODAL LOGIN -->
	<div class="modal fade" id="modalLogin" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="logo-modal"><img src="/images/layout/logo-modal.svg" alt="" /></div>
				<a class="close-modal" href="javascript:void(0)" data-dismiss="modal"><img
						src="/images/layout/close-modal.svg" alt="" /></a>
				<!-- Modal body -->
				<div class="modal-body">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" style="border: none;">
						<li class="nav-item">
							<a class="nav-link nav-login active first-tab" data-toggle="tab" href="#home"
								style="border-radius: 16px 0 0 0;">Đăng nhập</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-register" data-toggle="tab" href="#menu1"
								style="border-radius: 0 16px 0 0;">Đăng ký</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content last-tab">
						<form class="tab-login p-0 tab-pane container active" id="home">
							<div class="form-group">
								<label class="font-weight-bold">Email <span class="text-danger">*</span></label>
								<div class="position-relative">
									<img class="user-icn" src="/images/layout/user.svg" alt="" />
									<input id="Email1" type="text" class="form-control input-email"
										placeholder="Nhập email của bạn" />
								</div>
								<div id="emailAlertLogIn" class="text-danger mt-1"></div>
							</div>
							<div class="form-group mt-20">
								<label class="font-weight-bold">Mật khẩu <span class="text-danger">*</span></label>
								<div class="position-relative">
									<a href="javascript:void(0)" class="show-password"><img class="user-icn"
											src="/images/layout/eyes.svg" alt="" /></a>
									<input id="Password1" type="password" class="form-control input-email dg-password"
										placeholder="Nhập mật khẩu" />
								</div>
								<div id="passwordAlertLogIn" class="text-danger mt-1"></div>
							</div>

							<button class="btn btn-login mt-33">
								<div type="submit" id="CompleteLogInButton">ĐĂNG NHẬP</div>
							</button>

							<div class="text-1">Bạn chưa có tài khoản? <a class="open-modal-tab-register"
									href="javascript:void(0)">Đăng ký</a>
							</div>
						</form>


						<form class="tab-register p-0 tab-pane container fade" id="menu1">
							<div class="form-group">
								<div class="font-weight-bold">Tên tài khoản <span class="text-danger">*</span></div>
								<div class="position-relative">
									<img class="user-icn" src="/images/layout/user.svg" alt="" />
									<input id="UserName" type="text" class="form-control input-email dg-password"
										placeholder="Tối thiểu 6 ký tự" />
								</div>
								<div id="userNameAlert" class="text-danger mt-1"></div>
							</div>

							<div class="form-group mt-6">
								<div class="font-weight-bold">Email <span class="text-danger">*</span></div>
								<div class="position-relative">
									<img class="user-icn" src="/images/layout/user.svg" alt="" />
									<input id="Email2" type="text" class="form-control input-email"
										placeholder="Nhập email" />
								</div>
								<div id="emailAlert" class="text-danger mt-1"></div>
							</div>

							<div class="form-group mt-6">
								<div class="font-weight-bold">Mật khẩu <span class="text-danger">*</span></div>
								<div class="position-relative">
									<a href="javascript:void(0)" class="show-password"><img class="user-icn"
											src="/images/layout/eyes.svg" alt="" /></a>
									<input id="Password2" type="password" class="form-control input-email dg-password"
										placeholder="Tối thiểu 6 ký tự" />
								</div>
								<div id="passwordAlert" class="text-danger mt-1"></div>
							</div>

							<div class="form-group mt-6">
								<div class="font-weight-bold">Nhập lại mật khẩu <span class="text-danger">*</span></div>
								<div class="position-relative">
									<a href="javascript:void(0)" class="show-password"><img class="user-icn"
											src="/images/layout/eyes.svg" alt="" /></a>
									<input id="confirmPassword" type="password"
										class="form-control input-email dg-password" placeholder="Nhập lại mật khẩu" />
								</div>
								<div id="confirmPasswordAlert" class="text-danger mt-1"></div>
							</div>

							<div class="form-group mt-6">
								<div class="font-weight-bold">Số điện thoại </div>
								<div class="position-relative">
									<input id="NumberPhone" type="text" class="form-control input-email dg-password" maxlength="12"
										placeholder="Nhập số điện thoại" />
								</div>
								<div id="NumberPhoneAlert" class="text-danger mt-1"></div>
							</div>

							<div class="form-group mt-6" style="height: 45px;">
								<label class="d-flex justify-content-between align-items-center">
									<div class="font-weight-bold">Mã giới thiệu <span class="text-danger"></span></div>
									<div class="position-relative">
										<input id="Sponsor" type="text" class="form-control input-email dg-password"
											placeholder="Nhập mã" style="padding-right: 0px;" />
									</div>
								</label>
							</div>

							<div class="form-group mt-6 checkBox" style="height: 45px;">
								<div class="custom-control custom-checkbox mb-2">
									<input type="checkbox" class="custom-control-input" id="customCheck"
										name="customCheck">
									<label class="custom-control-label" for="customCheck" style="padding-top: 2px;">
										Tôi đồng ý các <a href="/AC-Auction/quy-dinh-su-dung">Điều khoản &amp; Quy
											định</a>
									</label>
									<div id="checkAlert" class="text-danger"></div>
								</div>
							</div>

							<button class="btn btn-login">
								<div id="CompleteRegistrationButton">ĐĂNG KÝ</div>
							</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: MODAL LOGIN -->


	<!-- BEGIN: MODAL REGISTER SUCCESS -->
	<div class="modal fade" id="modalRegisterSuccess" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="text-center">
						<span class="f-30">
							<i class="las la-check-circle"></i>
						</span>
						<h2 class="font-weight-600 f-19 bd-highlight mb-1">Bạn đã đăng ký tài khoản thành công!</h2>
						<hr class="pb-2" />
						<p>Xin hãy kích hoạt tài khoản của bạn bằng cách nhấp chuột vào liên kết kích hoạt trong email
							<strong class="EmailConfirm"></strong> chúng tôi vừa gửi.
						</p>
						<p class="mb-1 f-13 font-weight-600">Chưa nhận được email kích hoạt? <a id="ResendConfirm"
								href="#">Gửi lại Email</a></p>
						<p class="mb-1 f-13 font-weight-600">Đã kích hoạt? <a class="open-modal-tab-login"
								href="javascript:void(0)">Đăng nhập</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: MODAL REGISTER SUCCESS -->

	<!-- BEGIN: MODAL ADD ADDRESS -->
	<div class="modal fade" id="modalAddAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" style="top:-30rem !important;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="md-header d-flex justify-content-between align-items-center">
						<div class="txt-1">Thêm địa chỉ</div>
						<a href="javascript:void(0)" data-dismiss="modal"><img src="/images/thong-tin-ca-nhan/close.svg"
								alt="" /></a>
					</div>

					<div class="form-group">
						<input id="HomeAddAddressName" type="text" class="form-control input-cus"
							placeholder="Tên người nhận" />
					</div>

					<div class="form-group">
						<input id="HomeAddAddressMobile" type="text" class="form-control input-cus"
							placeholder="Số điện thoại" />
					</div>

					<div class="form-group">
						<input id="HomeAddAddressAddress" type="text" class="form-control input-cus"
							placeholder="Địa chỉ người nhận" />
					</div>
					<div class="col-12">
						<div class="alertAddAddress"></div>
					</div>

					<!-- <div class="form-group box-1">
						Đặt lại địa chỉ mặc định
					</div> -->

					<div class="box-btn">
						<button class="btn btn-add" id="addNewAddress" style="position: relative;">Thêm mới</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: MODAL ADD ADDRESS -->

	<!-- BEGIN: modalTransactionSuccess -->
	<div class="modal fade" id="modalTransactionSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" style="top:-20rem !important;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="md-header align-items-center">
						<div class="txt-1 text-center"><i class="las la-check-circle" style="color: #521780; font-size:4em;"></i></div>
						<h2 class="txt-1 text-center mt-1">Giao dịch thành công.</h2>
						<!-- <a href="javascript:void(0)" data-dismiss="modal"><img src="/images/thong-tin-ca-nhan/close.svg"
								alt="" /></a> -->
					</div>
					<!-- <h2 class="text-center">Giao dịch thành công.</h2> -->
				</div>
			</div>
		</div>
	</div>
	<!-- END: modalTransactionSuccess -->

	<!-- BEGIN: modalTransactionFail -->
	<div class="modal fade" id="modalTransactionFail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true" style="top:-20rem !important;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="md-header align-items-center">
						<div class="txt-1 text-center"><i class="las la-times-circle" style="color: #FAB414; font-size:4em;"></i></div>
						<h2 class="txt-1 text-center mt-1" style="color: #FAB414;">Giao dịch thất bại.</h2>
						<div id="resultForFailtTransaction"></div>
						<!-- <a href="javascript:void(0)" data-dismiss="modal"><img src="/images/thong-tin-ca-nhan/close.svg"
								alt="" /></a> -->
					</div>
					<!-- <h2 class="text-center">Giao dịch thành công.</h2> -->
				</div>
			</div>
		</div>
	</div>
	<!-- END: modalTransactionFail -->
	
	<!-- BEGIN: MODAL CONGRATULATION -->
	<div class="modal fade" id="MdlCongratulation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
	        <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true" class="f-27" style="padding-left: 1px;">&times;</span>
                </button>
                <img class="cg-logo" alt="" src="/images/congratulation-logo.png">
                <h1 class="cg-head">Chúc mừng,</h1>
	            <div class="cg-body f-18 text-center"></div>
	            <a href="/dau-gia-da-thang" class="btn btn-primary font-weight-bold text-white pay-button" th:if="${addresses != null}">
	                  Thanh toán ngay
                </a>
                <div th:if="${addresses == null}" style="text-align: center; font-size: 30px;">Vui lòng điền <a href="javascript:void(0)" style="font-size: 25px;" class="tranferInformation">thông tin vận chuyển.</a></div>
	        </div>
	    </div>
	</div>
	<!-- END: MODAL CONGRATULATION -->
	
	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			$(".tranferInformation").click(() => {
				$("#MdlCongratulation").modal("hide");
				$("#modalAddAddress").modal("show");
			});
		})
	</script>
	<script>

		function CheckNumberAddress() {
			if (!isNumeric(HomeAddAddressMobile.value)) {
				$(".alertAddAddress").removeClass("alert-success")
				$(".alertAddAddress").addClass("alert alert-danger");
				$(".alertAddAddress").html('Vui lòng điền đúng định dạng của số điện thoại!!!');
				$(".alertAddAddress").fadeIn('slow');
				setTimeout(() => $(".alertAddAddress").fadeOut('slow'), 6000);
				return false;
			}
			else return true;
		}
		// check string is number or not
		function isNumeric(value) {
			return /^-?\d+$/.test(value);
		}
		//validate log in
		function validateEmailLogIn() {
			const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			var email = $('#Email1').val();
			if (email === null || email === "") {
				$("#emailAlertLogIn").html("Vui lòng nhập Email.");
				$("#emailAlertLogIn").fadeIn('slow');
				setTimeout(() => $("#emailAlert").fadeOut('slow'), 6000);
				return false;
			}
			if (!re.test(email)) {
				$("#emailAlertLogIn").html("Vui lòng nhập đúng định dạng.");
				$("#emailAlertLogIn").fadeIn('slow');
				setTimeout(() => $("#emailAlert").fadeOut('slow'), 6000);
				return false;
			}
			return true;
		}
		function validatePasswordLogIn() {
			var password = $('#Password1').val();
			if ((password === null || password === "")) {
				$("#passwordAlertLogIn").html("Vui lòng nhập mật khẩu.");
				$("#passwordAlertLogIn").fadeIn('slow');
				setTimeout(() => $("#passwordAlertLogIn").fadeOut('slow'), 6000);
				return false;
			}
			if (password.length < 6) {
				$("#passwordAlertLogIn").html("Mật khẩu phải chứa ít nhất 6 kí tự.");
				$("#passwordAlertLogIn").fadeIn('slow');
				setTimeout(() => $("#passwordAlertLogIn").fadeOut('slow'), 6000);
				return false;
			}
			return true;
		}

		//validate register
		function checkNumber() {
			if (!isNaN($('#NumberPhone').val()) && Number.isInteger(parseFloat($('#NumberPhone').val()))) {
				return true;
			}
			else {
				if ($('#NumberPhone').val() == '') {
					return true;
				}
				else {
					$("#NumberPhoneAlert").html("Vui lòng nhập đúng định dạng số.");
					$("#NumberPhoneAlert").fadeIn('slow');
					setTimeout(() => $("#NumberPhoneAlert").fadeOut('slow'), 6000);
					return false;
				}
			}
		}
		function validateUserName() {
			var userName = $('#UserName').val();
			if (userName === null || userName === "") {
				$("#userNameAlert").html("Vui lòng nhập tên tài khoản.");
				$("#userNameAlert").fadeIn('slow');
				setTimeout(() => $("#userNameAlert").fadeOut('slow'), 6000);
				return false;
			}
			if (userName.length < 6) {
				$("#userNameAlert").html("Tên tài khoản phải chứa ít nhất 6 kí tự.");
				$("#userNameAlert").fadeIn('slow');
				setTimeout(() => $("#userNameAlert").fadeOut('slow'), 6000);
				return false;
			}
			return true;
		}
		function validateEmail() {
			const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			var email = $('#Email2').val();
			if (email === null || email === "") {
				$("#emailAlert").html("Vui lòng nhập Email.");
				$("#emailAlert").fadeIn('slow');
				setTimeout(() => $("#emailAlert").fadeOut('slow'), 6000);
				return false;
			}
			if (!re.test(email)) {
				$("#emailAlert").html("Vui lòng nhập đúng định dạng.");
				$("#emailAlert").fadeIn('slow');
				setTimeout(() => $("#emailAlert").fadeOut('slow'), 6000);
				return false;
			}
			return true;
		}
		function validatePassword() {
			var password = $('#Password2').val();
			if ((password === null || password === "")) {
				$("#passwordAlert").html("Vui lòng nhập mật khẩu.");
				$("#passwordAlert").fadeIn('slow');
				setTimeout(() => $("#passwordAlert").fadeOut('slow'), 6000);
				return false;
			}
			if (password.length < 6) {
				$("#passwordAlert").html("Mật khẩu phải chứa ít nhất 6 kí tự.");
				$("#passwordAlert").fadeIn('slow');
				setTimeout(() => $("#passwordAlert").fadeOut('slow'), 6000);
				return false;
			}
			return true;
		}
		function validateConfirmPassword() {
			var password = $('#Password2').val();
			var confirmPassword = $('#confirmPassword').val();
			if ((confirmPassword === null || confirmPassword === "")) {
				$("#confirmPasswordAlert").html("Vui lòng nhập lại mật khẩu.");
				$("#confirmPasswordAlert").fadeIn('slow');
				setTimeout(() => $("#confirmPasswordAlert").fadeOut('slow'), 6000);
				return false;
			}
			if (password !== confirmPassword) {
				$("#confirmPasswordAlert").html("Mật khẩu nhập không trùng khớp.");
				$("#confirmPasswordAlert").fadeIn('slow');
				setTimeout(() => $("#confirmPasswordAlert").fadeOut('slow'), 6000);
				return false;
			}
			return true;
		}
		function validateCustomCheck() {
			var check = $('#customCheck').prop('checked');
			if (!check) {
				$("#checkAlert").html("Vui lòng đồng ý điều khoản sử dụng.");
				$("#checkAlert").fadeIn('slow');
				setTimeout(() => $("#checkAlert").fadeOut('slow'), 6000);
				return false;
			}
			$("#checkAlert").fadeOut('slow');
			return true;
		}

		// log in
		function login(e) {
			e.preventDefault();
			var checkMailLogIn = validateEmailLogIn();
			var checkPassLogIn = validatePasswordLogIn();
			$("#emailAlertLogIn").fadeOut('slow');
			$("#passwordAlertLogIn").fadeOut('slow');
			$("#CompleteLogInButton").css("pointer-events", "none");
			if (checkMailLogIn && checkPassLogIn) {
				$("#CompleteLogInButton").addClass('spinning');
				$("#CompleteLogInButton").html('ĐANG ĐĂNG NHẬP');
				fetch('/auth/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						'email': $('#Email1').val(),
						'password': $('#Password1').val()
					})
				})
					.then(res => {
						return res.text()
					})
					.then(results => {
						if (results !== false) {
							if (results === "Error User not found") {
								$("#emailAlertLogIn").html("Email không tồn tại.");
								$("#emailAlertLogIn").fadeIn('slow');
								setTimeout(() => $("#emailAlertLogIn").fadeOut('slow'), 6000);
								$("#CompleteLogInButton").removeClass('spinning');
								$("#CompleteLogInButton").html('ĐĂNG NHẬP');
							}
							else if (results === "Wrong password") {
								$("#passwordAlertLogIn").html("Sai mật khẩu.");
								$("#passwordAlertLogIn").fadeIn('slow');
								setTimeout(() => $("#passwordAlertLogIn").fadeOut('slow'), 6000);
								$("#CompleteLogInButton").removeClass('spinning');
								$("#CompleteLogInButton").html('ĐĂNG NHẬP');
							}
							else if (results === "Not active") {
								$("#emailAlertLogIn").html("Tài khoản chưa được kích hoạt.");
								$("#passwordAlertLogIn").html('Vui lòng kiểm tra email! <a id="ResendConfirm" href="javascript:void(0)"> Gửi lại Email</a>');
								$("#emailAlertLogIn").fadeIn('slow');
								$("#passwordAlertLogIn").fadeIn('slow');

								$("#CompleteLogInButton").removeClass('spinning');
								$("#CompleteLogInButton").html('ĐĂNG NHẬP');
								$('#ResendConfirm').click(function () {
									fetch('/user/reVerify/' + $('#Email1').val())
										.then(res => res.text())
										.catch(error => {
											console.log("Error: " + error);
										});
								});
							}
							else {
								setCookie("AC-ACCESS-KEY", results, 99999);
								setTimeout(() => window.location.reload(), 500);
							}
						}
						$("#CompleteLogInButton").css("pointer-events", "visible");
					}).catch(error => {
						console.log(error)
						$("#CompleteLogInButton").css("pointer-events", "visible");
					});

			}
			else {
				$("CompleteLogInButton").css("pointer-events", "visible");
			}
		}

		//register
		function register(e) {
			e.preventDefault();
			var checkUser = validateUserName();
			var checkMail = validateEmail();
			var checkPass = validatePassword();
			var checkConfirm = validateConfirmPassword();
			var checkCustom = validateCustomCheck();
			var checkNumberPhone = checkNumber();
			$("#CompleteRegistrationButton").css("pointer-events", "none");
			if (checkUser && checkMail && checkPass && checkConfirm && checkCustom && checkNumberPhone) {
				$("#CompleteRegistrationButton").addClass('spinning');
				$("#CompleteRegistrationButton").html('ĐANG ĐĂNG KÝ');
				fetch('/user/register', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						'name': $('#UserName').val(),
						'email': $('#Email2').val(),
						'password': $('#Password2').val(),
						'mobile': $('#NumberPhone').val(),
						'sponsor': $('#Sponsor').val()
					})
				})
					.then(res => res.text())
					.then(results => {
						if (results === "OK") {
							$(".EmailConfirm").html($("#Email2").val());
							$("#modalLogin").modal("hide");
							$("#modalRegisterSuccess").modal("show");
							$("#CompleteRegistrationButton").removeClass("spinning");
							$("#CompleteRegistrationButton").html('ĐĂNG KÝ');
							$("#CompleteRegistrationButton").css("pointer-events", "visible");
						}
						else {
							$("#emailAlert").html("Email đã tồn tại, vui lòng nhập lại!");
							$("#emailAlert").fadeIn("slow");
							setTimeout(() => $("#emailAlert").fadeOut("slow"), 4000);
							$("#CompleteRegistrationButton").removeClass("spinning");
							$("#CompleteRegistrationButton").html("ĐĂNG KÝ");
							$("#CompleteRegistrationButton").css("pointer-events", "visible");
						}
					}).catch(error => {
						console.log("Error: " + error);
						$("#CompleteRegistrationButton").css("pointer-events", "visible");
					});
			}
			else {
				$("CompleteRegistrationButton").css("pointer-events", "visible");
			}
		}

		function resendConfirm() {
			fetch('/user/reVerify/' + $('#Email2').val())
				.then(res => res.text())
				.catch(error => {
					console.log("Error: " + error);
				});
		}

		$("#addNewAddress").click(function () {
			if (CheckNumberAddress()) {
				$("#addNewAddress").prop('disabled', true);
				$("#addNewAddress").addClass('spinning text-spinning');
				fetch('/user/address', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						'name': HomeAddAddressName.value,
						'mobile': HomeAddAddressMobile.value,
						'address': HomeAddAddressAddress.value
					})
				})
					.then(res => res.text())
					.then(results => {
						$("#addNewAddress").removeClass("spinning text-spinning");
						$("#addNewAddress").prop('disabled', false);
						if (results == 'OK') {
							$("#modalAddAddress").modal('hide');
							location.reload();
						}
						else {
							$(".alertAddAddress").removeClass("alert-success")
							$(".alertAddAddress").addClass("alert alert-danger");
							$(".alertAddAddress").html(results);
							$(".alertAddAddress").fadeIn('slow');
							setTimeout(() => $(".alertAddAddress").fadeOut('slow'), 10000);
						}
					})
					.catch(error => {
						console.log("Error: " + error);
					});
			}
		})
		document.addEventListener('DOMContentLoaded', (event) => {
			$('form.dg-search').keydown(function(event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					window.location.assign('/tim-kiem?category=all&keyword=' + $('.keyword-text').val());
				}
			});
			$('#HomeAddAddressMobile').keyup(function () {
				if (!isNumeric(HomeAddAddressMobile.value)) {
					$(".alertAddAddress").removeClass("alert-success")
					$(".alertAddAddress").addClass("alert alert-danger");
					$(".alertAddAddress").html('Vui lòng điền đúng định dạng của số điện thoại!!!');
					$(".alertAddAddress").fadeIn('slow');
					setTimeout(() => $(".alertAddAddress").fadeOut('slow'), 1000);
				}
			});

			$('#Email1').blur(function () {
				validateEmailLogIn();
			});
			$('#Password1').blur(function () {
				validatePasswordLogIn();
			});

			$('#UserName').blur(function () {
				validateUserName();
			});
			$('#Email2').blur(function () {
				validateEmail();
			});
			$('#Password2').blur(function () {
				validatePassword();
			});
			$('#confirmPassword').blur(function () {
				validateConfirmPassword();
			});
			$('#NumberPhone').blur(function () {
				checkNumber();
			});

			$("form#home").on("submit", event => login(event));
			$("form#home").keydown(function (event) {
				if (event.keyCode === 13) {
					login(event);
				}
			})

			$("form#menu1").on("submit", event => register(event));
			$("form#menu1").keydown(function (event) {
				if (event.keyCode === 13) {
					register(event);
				}
			})

			$('#ResendConfirm').click(function (e) {
				resendConfirm();
			});
		})
	</script>
</body>

</html>