<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}">
<head>
	<meta charset="UTF-8">
	<title>Giới thiệu</title>

</head>

<body>

    <div layout:fragment="content">
	    <!-- Title Page -->
	    <section id="title">
	        <div class="fw-box">
	            <div class="container-fluid">
	                <div class="title-page d-flex align-items-center bd-highlight pt-4 pb-2">
	                    <h1 class="bd-highlight f-24">
							<span th:if="${value == 'tin-tuc'}">Tin tức</span>
	                    	<span th:if="${value == 'gioi-thieu'}">Giới thiệu</span>
	                    	<span th:if="${value == 'lien-he'}">Liên hệ</span>
	                    	<span th:if="${value == 'thanh-toan-va-van-chuyen'}">Thanh toán và vận chuyển</span>
	                    	<span th:if="${value == 'bao-hanh'}">Bảo hành, đổi trả</span>
	                    	<span th:if="${value == 'chinh-sach-khieu-nai'}">Chính sách khiếu nại</span>
	                    	<span th:if="${value == 'chi-tiet-tin-tuc'}">Đấu giá trực tuyến – Bước đi phát triển nền kinh tế số</span>
							<span th:if="${value == 'huong-dan-dang-ky-tai-khoan-san-dau-gia'}">Hướng dẫn đăng ký tài khoản Sàn daugia.io</span>
							<span th:if="${value == 'huong-dan-tham-gia-dau-gia'}">Hướng dẫn tham gia đấu giá</span>
	                    	<span th:if="${value == 'huong-dan-nap-tien-bang-giftcode'}">Hướng dẫn nạp tiền bằng Giftcode</span>
	                    	<span th:if="${value == 'huong-dan-nap-tien-qua-san-tiktak'}">Hướng dẫn nạp tiền qua Sàn Tiktak</span>
							<span th:if="${value == 'huong-dan-cach-rut-tien-tu-san-daugia-io'}">Hướng dẫn cách rút tiền từ Sàn daugia.io về tài khoản của khách hàng</span>
							<!-- <span th:else>Danh mục tin tức</span> -->
	                    </h1>
	                    <div class="breadcrumb-box bd-highlight ml-auto">
	                        <div class="d-inline-block">
	                            <nav aria-label="breadcrumb" class="bd-highlight bc-cus d-none d-xl-flex">
	                                <ol class="breadcrumb fs-085 bg-transparent p-0 f-13">
	                                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
	                                    <li class="breadcrumb-item"><a href="/">daugia.io</a></li>
	                                    <li class="breadcrumb-item active" aria-current="page">
	                                    	<span th:if="${value == 'gioi-thieu'}">Giới thiệu</span>
					                    	<span th:if="${value == 'lien-he'}">Liên hệ</span>
					                    	<!-- <span th:if="${value == 'bao-hanh'}">Bảo hành, đổi trả</span> -->
											<span th:if="${value == 'huong-dan-dang-ky-tai-khoan-san-dau-gia'}">Hướng dẫn đăng ký tài khoản Sàn daugia.io</span>
											<span th:if="${value == 'huong-dan-tham-gia-dau-gia'}">Hướng dẫn tham gia đấu giá</span>
											<span th:if="${value == 'huong-dan-nap-tien-bang-giftcode'}">Hướng dẫn nạp tiền bằng Giftcode</span>
											<span th:if="${value == 'huong-dan-nap-tien-qua-san-tiktak'}">Hướng dẫn nạp tiền qua Sàn Tiktak</span>
											<span th:if="${value == 'huong-dan-cach-rut-tien-tu-san-daugia-io'}">Hướng dẫn cách rút tiền từ Sàn daugia.io về tài khoản của khách hàng</span>
					                    	<span th:if="${value == 'thanh-toan-va-van-chuyen'}">Thanh toán và vận chuyển</span>
					                    	<span th:if="${value == 'chinh-sach-khieu-nai'}">Chính sách khiếu nại</span>
											<span th:if="${value == 'tin-tuc'}">Tin tức</span>
											<!-- <span th:else>Danh mục tin tức</span> -->
	                                    </li>
	                                </ol>
	                            </nav>
	                        </div>
	                        <div class="menu-account-drop d-inline-block d-xl-none mb-3">
	                            <div class="btn-group dropdown">
	                                <a href="#" class="dropdown-toggle font-weight-600" data-toggle="dropdown" data-flip="false" aria-haspopup="false" aria-expanded="false">
	                                    daugia.io
	                                </a>
	                                <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm rounded-0 p-0">
	                                    <div class="card border-0 rounded-0 shadow-sm">
	
	                                        <div class="card-body p-3 rounded-0 border-0 f-13">
	                                          
	                                            <div class="card-text">
	                                                <dl>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/gioi-thieu" th:class="${value} == 'gioi-thieu' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Giới thiệu
	                                                        </a>
	                                                    </dd>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/lien-he" th:class="${value} == 'lien-he' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Liên hệ
	                                                        </a>
	                                                    </dd>
	                                                </dl>
													<hr>
	                                                <dl class="font-weight-500">
	
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/huong-dan-dang-ky-tai-khoan-san-dau-gia" th:class="${value} == 'huong-dan-dang-ky-tai-khoan-san-dau-gia' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Hướng dẫn đăng ký tài khoản sàn daugia.io
	                                                        </a>
	                                                    </dd>
	
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/huong-dan-tham-gia-dau-gia" th:class="${value} == 'huong-dan-tham-gia-dau-gia' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Hướng dẫn tham gia đấu giá
	                                                        </a>
	                                                    </dd>
	
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/huong-dan-nap-tien-bang-giftcode" th:class="${value} == 'huong-dan-nap-tien-bang-giftcode' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Hướng dẫn nạp tiền bằng Giftcode
	                                                        </a>
	                                                    </dd>

														<dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/huong-dan-nap-tien-qua-san-tiktak" th:class="${value} == 'huong-dan-nap-tien-qua-san-tiktak' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Hướng dẫn nạp tiền qua Sàn Tiktak
	                                                        </a>
	                                                    </dd>

														<dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/huong-dan-cach-rut-tien-tu-san-daugia-io" th:class="${value} == 'huong-dan-cach-rut-tien-tu-san-daugia-io' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Hướng dẫn cách rút tiền từ Sàn daugia.io
	                                                        </a>
	                                                    </dd>
	
	                                                </dl>
	                                                <hr>
	                                                <dl class="font-weight-500">
	
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/thanh-toan-va-van-chuyen" th:class="${value} == 'thanh-toan-va-van-chuyen' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Thanh toán và vận chuyển
	                                                        </a>
	                                                    </dd>
	
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/images/noi-quy-dau-gia.pdf" class="text-dark">
	                                                            Nội quy đấu giá
	                                                        </a>
	                                                    </dd>
	
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/AC-Auction/chinh-sach-khieu-nai" th:class="${value} == 'chinh-sach-khieu-nai' ? 'text-violet font-weight-bold' : 'text-dark'">
	                                                            Chính sách khiếu nại
	                                                        </a>
	                                                    </dd>
	
	                                                </dl>
	
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <!-- Title Page -->

        <!-- Grid pro  -->
        <!-- schedule  -->
        <section id="liked" class="pb-4">

            <div class="fw-box">
                <div class="container-fluid">

                    <div class="row">

                        <div layout:fragment="main-content" class="col-12 col-xl-9 col-lg-12">
                        </div>

                        <div class="col-12 col-xl-3 col-lg-4 d-none d-md-block">
                            <!-- Menu Account -->
                            <div class="side-right d-none d-xl-block">
                                <div class="widget-right mg-b-20">
                                    <div class="card border-0 rounded-0 shadow-sm">

                                        <div class="card-body p-3 rounded-0 border-0">
                                            <h3 class="card-title f-19 mb-3 font-weight-700 border-bottom pb-3">
                                                daugia.io
                                            </h3>
                                            <div class="card-text">
                                                <dl>
                                                    <dd class="mb-2">
                                                        <a href="/AC-Auction/gioi-thieu" th:class="${value} == 'gioi-thieu' ? 'text-violet font-weight-bold' : 'text-dark'">
                                                            Giới thiệu
                                                        </a>
                                                    </dd>
                                                    <dd class="mb-2">
                                                        <a href="/AC-Auction/lien-he" th:class="${value} == 'lien-he' ? 'text-violet font-weight-bold' : 'text-dark'">
                                                            Liên hệ
                                                        </a>
                                                    </dd>
                                                </dl>
												<hr>
												<dl class="font-weight-500">

													<dd class="mb-2">
														<a href="/AC-Auction/huong-dan-dang-ky-tai-khoan-san-dau-gia" th:class="${value} == 'huong-dan-dang-ky-tai-khoan-san-dau-gia' ? 'text-violet font-weight-bold' : 'text-dark'">
															Hướng dẫn đăng ký tài khoản sàn daugia.io
														</a>
													</dd>

													<dd class="mb-2">
														<a href="/AC-Auction/huong-dan-tham-gia-dau-gia" th:class="${value} == 'huong-dan-tham-gia-dau-gia' ? 'text-violet font-weight-bold' : 'text-dark'">
															Hướng dẫn tham gia đấu giá
														</a>
													</dd>

													<dd class="mb-2">
														<a href="/AC-Auction/huong-dan-nap-tien-bang-giftcode" th:class="${value} == 'huong-dan-nap-tien-bang-giftcode' ? 'text-violet font-weight-bold' : 'text-dark'">
															Hướng dẫn nạp tiền bằng Giftcode
														</a>
													</dd>

													<dd class="mb-2">
														<a href="/AC-Auction/huong-dan-nap-tien-qua-san-tiktak" th:class="${value} == 'huong-dan-nap-tien-qua-san-tiktak' ? 'text-violet font-weight-bold' : 'text-dark'">
															Hướng dẫn nạp tiền qua Sàn Tiktak
														</a>
													</dd>

													<dd class="mb-2">
														<a href="/AC-Auction/huong-dan-cach-rut-tien-tu-san-daugia-io" th:class="${value} == 'huong-dan-cach-rut-tien-tu-san-daugia-io' ? 'text-violet font-weight-bold' : 'text-dark'">
															Hướng dẫn cách rút tiền từ Sàn daugia.io
														</a>
													</dd>

												</dl>
                                                <hr>
                                                <dl class="font-weight-500">

                                                    <dd class="mb-2">
                                                        <a href="/AC-Auction/thanh-toan-va-van-chuyen" th:class="${value} == 'thanh-toan-va-van-chuyen' ? 'text-violet font-weight-bold' : 'text-dark'">
                                                            Thanh toán và vận chuyển
                                                        </a>
                                                    </dd>

                                                    <dd class="mb-2">
                                                        <a href="/images/noi-quy-dau-gia.pdf" class="text-dark">
															Nội quy đấu giá
														</a>
                                                    </dd>

                                                    <dd class="mb-2">
                                                        <a href="/AC-Auction/chinh-sach-khieu-nai" th:class="${value} == 'chinh-sach-khieu-nai' ? 'text-violet font-weight-bold' : 'text-dark'">
                                                            Chính sách khiếu nại
                                                        </a>
                                                    </dd>

                                                </dl>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Menu Account -->
                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!-- schedule  -->
        <!-- Grid pro  -->

    </div>
</body>
</html>


