<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}">
<head>
	<meta charset="UTF-8">
	<title>Đã kích hoạt tài khoản thành công</title>
</head>
<body>
	<div layout:fragment="content">
		<div id="RegisterSuccess">
			<!-- Title Page -->
		    <section id="title">
		        <div class="fw-box">
		            <div class="container-fluid">
		                <div class="title-page d-sm-flex align-items-center bd-highlight pt-4 pb-2">
		                    <h1 class="bd-highlight f-26">Đã đăng ký thành công</h1>
		                    <div class="breadcrumb-box bd-highlight  ml-auto">
		                        <nav aria-label="breadcrumb" class="bd-highlight bc-cus d-none d-lg-flex ">
		                            <ol class="breadcrumb fs-085 bg-transparent p-0 f-13">
		                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
		                                <li class="breadcrumb-item"><a href="/tai-khoan">Tài khoản</a></li>
		                                <li class="breadcrumb-item active" aria-current="page">Đã kích hoạt</li>
		                            </ol>
		                        </nav>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- Title Page -->
		    
	        <!-- Grid pro  -->
	        <!-- schedule  -->
	        <section id="signup" class="mb-5">
	
	            <div class="fw-box">
	                <div class="container-fluid">
	
	                    <div class="row justify-content-center">
	                        <div class="col-12 col-xl-4 col-lg-4 col-md-6">
	                            <div class="card o-hidden border-0 shadow-sm">
	                                <div class="card-body p-0">
	                                    <div class="row">
	                                        <div class="col-12">
	                                            <div class="p-3">
	                                                <form class="user mini-col text-center">
	                                                    <span class="f-30">
	                                                        <i class="las la-check-circle"></i>
	                                                    </span>
	                                                    <h1 class="font-weight-600 f-19 bd-highlight mb-1">Bạn đã kích hoạt tài khoản thành công!</h1>
	                                                    <hr class="pb-2" />
	                                                    <p>Xin hãy đăng nhập <a href="/dang-nhap" class="f-20">tại đây</a>.</p>
	                                                </form>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	
	                </div>
	            </div>
	
	        </section>
	        <!-- schedule  -->
	        <!-- Grid pro  -->
		</div>
	</div>
</body>
</html>