<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Đấu giá đã thắng</title>
</head>
<body>
    <div layout:fragment="content">
	    <!-- Title Page -->
        <section id="title">
	        <div class="fw-box">
	            <div class="container-fluid">
	                <div class="title-page d-flex align-items-center bd-highlight pt-4 pb-2">
	                    <h1 class="bd-highlight f-24">
	                        Đấu giá đã thắng
	                    </h1>
	                    <div class="breadcrumb-box bd-highlight ml-auto">
	                        <div class="d-inline-block">
	                            <nav aria-label="breadcrumb" class="bd-highlight bc-cus d-none d-xl-flex">
	                                <ol class="breadcrumb fs-085 bg-transparent p-0 f-13">
	                                    <li class="breadcrumb-item"><a href="/index">Trang chủ</a></li>
	                                    <li class="breadcrumb-item"><a href="/tai-khoan">Đấu giá</a></li>
	                                    <li class="breadcrumb-item active" aria-current="page">Đấu giá đã thắng</li>
	                                </ol>
	                            </nav>
	                        </div>
	                        <div class="menu-account-drop d-inline-block d-xl-none mb-3">
	                            <div class="btn-group dropdown">
	                                <a href="#" class="dropdown-toggle font-weight-600" data-toggle="dropdown" data-flip="false" aria-haspopup="false" aria-expanded="false">
	                                    <span class="text-secondary"></span><span th:text="${user.name}"></span>
	                                </a>
	                                <div class="dropdown-menu dropdown-menu-right border-0 shadow-sm rounded-0 p-0">
	                                    <div class="card border-0 rounded-0 shadow-sm">
	
	                                        <div class="card-body p-3 rounded-0 border-0 f-13">
	                                            <div class="card-text">
	                                                <dl>
	                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Tài khoản</dt>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/tai-khoan" class="text-dark">
	                                                            <i class="las la-border-all mr-1"></i>
	                                                            Bảng chính
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/ho-so-ca-nhan" class="text-dark">
	                                                            <i class="las la-user-cog mr-1"></i>
	                                                            Hồ sơ cá nhân
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dia-chi-van-chuyen" class="text-dark">
	                                                            <i class="las la-directions mr-1"></i>
	                                                            Địa chỉ nhận hàng
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/thay-doi-mat-khau" class="text-dark">
	                                                            <i class="las la-lock mr-1"></i>
	                                                            Thay đổi mật khẩu
	                                                        </a>
	                                                    </dd>
                                                        <dd class="ml-3 mb-1">
                                                            <a href="/chuong-trinh-affiliate" class="text-dark">
                                                              <i class="las la-handshake"></i>
                                                              Chương trình Affiliate
                                                            </a>
                                                          </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dang-nhap" class="text-dark">
	                                                            <i class="las la-times-circle mr-1"></i>
	                                                            Đăng xuất
	                                                        </a>
	                                                    </dd>
	                                                </dl>
	                                                <hr>
	                                                <dl class="font-weight-500">
	                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Đấu giá</dt>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dau-gia-yeu-thich" class="text-dark">
	                                                            <i class="lar la-heart mr-1"></i>
	                                                            Đấu giá yêu thích
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dau-gia-dang-tham-du" class="text-dark">
	                                                            <i class="las la-gavel mr-1"></i>
	                                                            Đấu giá đang tham dự
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dau-gia-da-dang-ky" class="text-dark">
	                                                            <i class="las la-calendar-check mr-1"></i>
	                                                            Đấu giá đã đăng ký
	                                                        </a>
	                                                    </dd>
                                                        <dd class="ml-3 mb-1">
                                                            <a href="/dau-gia-da-thang" class="text-violet font-weight-bold">
                                                                <i class="las la-trophy mr-1"></i>
                                                                Đấu giá đã thắng
                                                            </a>
                                                        </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dau-gia-da-mua" class="text-dark">
	                                                            <i class="las la-shopping-basket mr-1"></i>
	                                                            Đấu giá đã mua
	                                                        </a>
	                                                    </dd>
	                                                </dl>
	                                                <hr>
	                                                <dl class="font-weight-500">
	                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Tài chính</dt>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/vi-va-so-du" class="text-dark">
	                                                            <i class="las la-wallet mr-1"></i>
	                                                            Ví và số dư
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/dat-coc-dau-gia" class="text-dark">
	                                                            <i class="las la-comment-dollar mr-1"></i>
	                                                            Đặt cọc đấu giá
	                                                        </a>
	                                                    </dd>
														<dd class="ml-3 mb-1">
															<a href="/nhap-giftcode" class="text-dark">
																<i class="las la-gift mr-1"></i>
																Nhập Giftcode
															</a>
														</dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/nap-tien" class="text-dark">
	                                                            <i class="las la-sign-in-alt mr-1"></i>
	                                                            Nạp tiền
	                                                        </a>
	                                                    </dd>
	                                                    <dd class="ml-3 mb-1">
	                                                        <a href="/rut-tien" class="text-dark">
	                                                            <i class="las la-sign-out-alt mr-1"></i>
	                                                            Rút tiền
	                                                        </a>
	                                                    </dd>
	                                                </dl>
                                                    <dl class="font-weight-500" th:if="${user.group == 'Agency' || user.group == 'Admin'}">
                                                        <hr />
                                                        <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Đại lý</dt>
                                                        <dd class="ml-3 mb-1">
                                                            <a href="/bang-chinh-dai-ly" class="text-dark">
                                                                <i class="las la-building mr-1"></i>
                                                                Bảng chức năng đại lý
                                                            </a>
                                                        </dd>
                                                    </dl>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <!-- Title Page -->

        <!-- Grid pro  -->
        <!-- schedule  -->
        <section id="liked" class="pb-4">

            <div class="fw-box">
                <div class="container-fluid">

                    <div class="row">

                        <div class="col-12 col-xl-3 col-lg-4 d-none d-md-block">
                            <!-- Menu Account -->
                            <div class="side-right d-none d-xl-block">
                                <div class="widget-right mg-b-20">
                                    <div class="card border-0 rounded-0 shadow-sm">

                                        <div class="card-body p-3 rounded-0 border-0">
                                            <h3 class="card-title f-19 mb-3 font-weight-700 border-bottom pb-3">
                                                Xin chào! <a href="ho-so-ca-nhan" class="font-weight-700" th:text="${user.name}"></a>
                                            </h3>
                                            <div class="card-text">
                                                <dl>
                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Tài khoản</dt>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/tai-khoan" class="text-dark">
                                                            <i class="las la-border-all mr-1"></i>
                                                            Bảng chính
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/ho-so-ca-nhan" class="text-dark">
                                                            <i class="las la-user-cog mr-1"></i>
                                                            Hồ sơ cá nhân
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dia-chi-van-chuyen" class="text-dark">
                                                            <i class="las la-directions mr-1"></i>
                                                            Địa chỉ nhận hàng
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/thay-doi-mat-khau" class="text-dark">
                                                            <i class="las la-lock mr-1"></i>
                                                            Thay đổi mật khẩu
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/chuong-trinh-affiliate" class="text-dark">
                                                          <i class="las la-handshake"></i>
                                                          Chương trình Affiliate
                                                        </a>
                                                      </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dang-nhap" class="text-dark">
                                                            <i class="las la-times-circle mr-1"></i>
                                                            Đăng xuất
                                                        </a>
                                                    </dd>
                                                </dl>
                                                <hr />
                                                <dl class="font-weight-500">
                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Đấu giá</dt>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dau-gia-yeu-thich" class="text-dark">
                                                            <i class="lar la-heart mr-1"></i>
                                                            Đấu giá yêu thích
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dau-gia-dang-tham-du" class="text-dark">
                                                            <i class="las la-gavel mr-1"></i>
                                                            Đấu giá đang tham dự
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dau-gia-da-dang-ky" class="text-dark">
                                                            <i class="las la-calendar-check mr-1"></i>
                                                            Đấu giá đã đăng ký
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dau-gia-da-thang" class="text-violet font-weight-bold">
                                                            <i class="las la-trophy mr-1"></i>
                                                            Đấu giá đã thắng
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/dau-gia-da-mua" class="text-dark">
                                                            <i class="las la-shopping-basket mr-1"></i>
                                                            Đấu giá đã mua
                                                        </a>
                                                    </dd>
                                                </dl>
                                                <hr />
                                                <dl class="font-weight-500">
                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Tài chính</dt>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/vi-va-so-du" class="text-dark">
                                                            <i class="las la-wallet mr-1"></i>
                                                            Ví và số dư
                                                        </a>
                                                    </dd>
                                                   <dd class="ml-3 mb-1">
                                                        <a href="/dat-coc-dau-gia" class="text-dark">
                                                            <i class="las la-comment-dollar mr-1"></i>
                                                            Đặt cọc đấu giá
                                                        </a>
                                                    </dd>
                                                    <!-- <dd class="ml-3 mb-1">
                                                        <a href="/nhap-giftcode" class="text-dark">
                                                            <i class="las la-gift mr-1"></i>
                                                            Nhập Giftcode
                                                        </a>
                                                    </dd> -->
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/nap-tien" class="text-dark">
                                                            <i class="las la-sign-in-alt mr-1"></i>
                                                            Nạp tiền
                                                        </a>
                                                    </dd>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/rut-tien" class="text-dark">
                                                            <i class="las la-sign-out-alt mr-1"></i>
                                                            Rút tiền
                                                        </a>
                                                    </dd>
                                                </dl>
                                                <dl class="font-weight-500" th:if="${user.group == 'Agency' || user.group == 'Admin'}">
                                                    <hr/>
                                                    <dt class="text-uppercase font-weight-800 text-gray mb-2 f-13">Đại lý</dt>
                                                    <dd class="ml-3 mb-1">
                                                        <a href="/bang-chinh-dai-ly" class="text-dark">
                                                            <i class="las la-building mr-1"></i>
                                                            Bảng chức năng đại lý
                                                        </a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Menu Account -->
                        </div>
                        <div class="col-12 col-xl-9 col-lg-12">

                            <!-- Products -->
                            <div class="start-pro-list cat-pro-list mini-col"  id="ListAuction">

                                <!-- Pro Item -->
                                <h3 class="text-center mt-5" th:if="${win_auctions.isEmpty()}">Quý khách hiện tại chưa thắng đấu giá sản phẩm nào.</h3>
                                <div class="start-pro-item shadow-sm bg-white none-col mg-b-20" th:each="auction : ${win_auctions}">
                                    <div class="row">
                                        <div class="col-12 col-lg-3 col-md-6">
                                            <div class="start-img-box">
                                                <a th:href="@{/chi-tiet-dau-gia/{id}(id = ${auction.id})}" class="d-block">
                                                    <img class="w-100" th:src="${#strings.arraySplit(auction.getAssest().images, ',')[0]}" alt="Card image cap" style="height:200px; object-fit: contain;">
                                                    <span class="f-13 pt-1 pb-1 pr-2 pl-2" >
                                                        <span class="badge badge-danger">
                                                            <i class="las la-trophy mr-1"></i>
                                                            Chờ thanh toán
                                                        </span>
                                                    </span>
                                                </a>
                                                <!-- <span class="like-box d-inline-block" th:attr="data-id=${auction.getId()}">
                                                    <i class="las la-heart"></i>
                                                </span> -->
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-9 col-md-6">
                                            <div class="start-pro-info p-3 p-md-4 p-lg-3 h-100">

                                                <div class="row h-100 align-items-center">
                                                    <div class="col-12 col-xl-7 col-lg-7">
                                                        <h3 class="f-23 mb-2 font-weight-bold">
                                                            <a th:text="${auction.getAssest().name}" class="d-block">Biệt thự Vinhome Villa Vân Đồn</a>
                                                        </h3>
                                                        <div class="pri-bid mb-3">
                                                            <span class="text-secondary f-20 mr-1 d-block mb-1" >Mức giá thắng: </span>
                                                            <strong class="text-danger font-weight-800 d-block lh-1 f-17"><span class="cur-format" th:text="${auction.getWinPrice()}"></span> VNDT</strong>
                                                        </div>
                                                        <div class="pri-bid mb-3 mb-sm-0">
                                                            <span class="f-13 mr-1 d-none d-lg-block mt-2">Đã kết thúc lúc: <strong class="text-violet time-format" th:text="${auction.endAt}">10: 30 22-12-2020</strong> </span>
                                                        </div>

                                                    </div>
                                                    <div class="col-12 col-xl-5 col-lg-5">
                                                        <div class="text-right bid-pri-box">
                                                            <h3 class="text-danger pb-2" th:attr="data-id=${auction.id}" style="cursor:pointer" onclick="selectpay(this)">
                                                                    Thanh toán đơn hàng ngay
                                                                    <i class="las la-shopping-basket"></i>
                                                            </h3>
															<h3 class="text-danger pb-2" th:attr="data-id='sellOff' + ${auction.id}"  style="cursor:pointer" onclick="selectSellOff(this)">
                                                                    Thanh lý đơn hàng
                                                                    <i class="las la-shopping-cart"></i>
                                                            </h3>
                                                            <div class="text-dark" th:attr="data-id=${auction.id}" style="cursor:pointer" onclick="selectdontpay(this)">
                                                                Từ chối thanh toán
                                                                <i class="las la-ban"></i>
                                                            </div>
                                                            <!-- <span class="text-secondary f-20 mr-1 d-block mb-1" >Mức giá thắng: </span>
                                                            <strong class="text-danger font-weight-800 d-block lh-1 f-17"><span class="cur-format" th:text="${auction.getAssest().currentPrice}"></span> VNDT</strong> -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade pt-4" th:id="'modalSuccess' + ${auction.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Thanh toán sản phẩm</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Quý khách xác nhận thanh toán sản phẩm này</br>Mức giá đã thắng là: <span class="text-danger font-weight-800 lh-1 f-17"><span class="cur-format" th:text="${auction.getWinPrice()}"></span> VNDT</span>
                                                </h6>
                                                <div class="AlertChange"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" style="display: none;" class="btn btn-danger buttonModalPay" th:attr="data-id=${auction.id}" onclick="pay(this)">Thanh toán ngay</button>
                                                <div class="f-13 mb-0 text-center mt-3 text-center buttonModalPayDone" style="display:none;">
                                                    <p class="text-violet" style="cursor: pointer;" data-dismiss="modal" aria-label="Close">
                                                        <i class="las la-arrow-left"></i>
                                                        Quay lại
                                                    </p>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
									
									<div class="modal fade pt-4" th:id="'modalSellOff' + ${auction.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Thanh lý sản phẩm</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Quý khách xác nhận thanh lý sản phẩm này</br>Mức giá là: <span class="text-danger font-weight-800 lh-1 f-17"><span class="cur-format" th:text="${(auction.getSellOffPercent() * auction.getBuyPrice())/100}"></span> VNDT</span> (<span th:text="${auction.getSellOffPercent()}"> </span>  % giá trị thị trường)
                                                </h6>
                                                <div class="AlertChange"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" style="display: none;" class="btn btn-danger buttonModalPay" th:attr="data-id='sell' +  ${auction.id}" onclick="sellOff(this)">Thanh lý ngay</button>
                                                <div class="f-13 mb-0 text-center mt-3 text-center buttonModalPayDone" style="display:none;">
                                                    <p class="text-violet" style="cursor: pointer;" data-dismiss="modal" aria-label="Close">
                                                        <i class="las la-arrow-left"></i>
                                                        Quay lại
                                                    </p>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
									
                                    <div class="modal fade pt-4" th:id="'modalDonPay' + ${auction.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Từ chối thanh toán</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Quý khách xác nhận chắc chắn từ chối thanh toán sản phẩm này</h6>
                                            <h7 class="text-danger">Lưu ý:</br> Số tiền đặt cọc sẽ bị trừ như <a href="/images/0921080000.pdf" target="_blank">nội quy</a> trong đấu giá là: <span class="text-danger font-weight-800 lh-1 f-17"><span class="cur-format" th:text="${auction.warranty}"></span> VNDT</span><div></div>
                                                <div class="AlertChange"></div>
                                            </h7>
                                            <div class="modal-footer" >
                                                <button type="button" style="display: none;" class="btn btn-danger buttonModalDontPay" th:attr="data-id=${auction.id}" onclick="dontpay(this)">Xác nhận từ chối thanh toán</button>
                                                <div class="f-13 mb-0 text-center mt-3 text-center buttonModalDontPayDone" style="display:none;">
                                                    <p class="text-violet" style="cursor: pointer;" data-dismiss="modal" aria-label="Close">
                                                        <i class="las la-arrow-left"></i>
                                                        Quay lại
                                                    </p>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                               
                                <!-- Pro Item -->
                            </div>
                            <!-- Products -->
                            <div th:if="${!win_auctions.isEmpty()}">
                                <div
                                    class="d-flex align-items-center justify-content-center justify-content-xl-between page-custom mb-4 mt-4 ">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination pagination justify-content-center mb-0">
                                        </ul>
                                    </nav>
                                    <!-- <div class="on-page f-13 d-none d-xl-block">
                                    Đang ở trang <span class="font-weight-bold currPage"></span>
                                    của
                                    <span class="font-weight-bold numPages"></span> trang
                                    <span class="ml-2 mr-2">|</span>
                                    Có <span class="font-weight-bold numRecords"></span> bản ghi
                                  </div> -->
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', (event) => {
                    pageMe({ pagerSelector: '#ListAuction', paginationSelector: '.pagination',perPage: 10 });
			    	const url = new URL(window.location);
				    function setPathVariable(name, value) {
                        url.searchParams.set(name, value);
                        window.history.pushState({}, '', url);
	        	    }
                });
                var id ;
                function selectpay(val) {
                    id = val.getAttribute('data-id');
                    $('#modalSuccess'+id).modal();
                    $('.buttonModalPayDone').hide();
                    $('.buttonModalPay').show();
                }
				function selectSellOff(val) {
                    id = val.getAttribute('data-id').replace('sellOff','');
					$('.buttonModalPay').show();
                    $('#modalSellOff'+id).modal();
 
                }
				
                function selectdontpay(val) {
                    id = val.getAttribute('data-id');
                    $('#modalDonPay'+id).modal();
                    $('.buttonModalDontPayDone').hide(); 
                    $('.buttonModalDontPay').show();
                }
				
				
				function sellOff(val) {
					$(".buttonModalPay").attr("disabled", true);
                    // $(".buttonModalPay").addClass('btn-default');
                    $(".buttonModalPay").removeClass('btn-danger');
					$(".buttonModalPay").html('Đang tiến hành thanh toán');
                    id = val.getAttribute('data-id').replace('sell','');
					fetch('/auction/sell-off/'+id, {
						   	  method: 'GET',
						   	  headers: {
						   		 'Content-Type': 'application/json'
						      }
					   	})
					   	.then(res =>{ return res.text()})
					    .then(results => {
					    	if (results === "OK") {
					    		$(".AlertChange").addClass("alert alert-success");
								$(".AlertChange").html('Thanh lý thành công');
								$(".AlertChange").fadeIn('slow');
								setTimeout(() => $(".AlertChange").fadeOut('slow'),10000);
                                location.reload();
					   		}
					   		else {
                                console.log(results);
 
                                $(".AlertChange").addClass("alert alert-danger");
								$(".AlertChange").html('Thanh lý thất bại lỗi: '+results);
								$(".AlertChange").fadeIn('slow');
								setTimeout(() => $(".AlertChange").fadeOut('slow'),10000);
				   			} 
					    })
					    .catch(error => {
					    	console.log("Error: " + error);
					    });
				}
				
                function pay(val) {
                    $(".buttonModalPay").attr("disabled", true);
                    // $(".buttonModalPay").addClass('btn-default');
                    $(".buttonModalPay").removeClass('btn-danger');
					$(".buttonModalPay").html('Đang tiến hành thanh toán');
                    id = val.getAttribute('data-id');
                    fetch('/auction/pay/'+id, {
						   	  method: 'GET',
						   	  headers: {
						   		 'Content-Type': 'application/json'
						      }
					   	})
					   	.then(res =>{ return res.text()})
					    .then(results => {
					    	if (results === "OK") {
					    		$(".AlertChange").addClass("alert alert-success");
								$(".AlertChange").html('Thanh toán thành công');
								$(".AlertChange").fadeIn('slow');
								setTimeout(() => $(".AlertChange").fadeOut('slow'),10000);
                                $('.buttonModalPay').hide();
                                $('.buttonModalPayDone').show();
                                location.reload();
					   		}
					   		else {
                                console.log(results);
                                $('.buttonModalPay').prop("disabled", false);
                                $(".buttonModalPay").addClass('btn-danger');
					            $(".buttonModalPay").html('Thanh toán ngay');
                                $(".AlertChange").addClass("alert alert-danger");
								$(".AlertChange").html('Thanh toán thất bại lỗi: '+results);
								$(".AlertChange").fadeIn('slow');
								setTimeout(() => $(".AlertChange").fadeOut('slow'),10000);
				   			} 
					    })
					    .catch(error => {
					    	console.log("Error: " + error);
					    });
                }
                    function dontpay(val) {
                        $(".buttonModalDontPay").attr("disabled", true);
                      // $(".buttonModalPay").addClass('btn-default');
                        $(".buttonModalDontPay").removeClass('btn-danger');
					    $(".buttonModalDontPay").html('Đang tiến hành hủy thanh toán');
                        id = val.getAttribute('data-id');
                        fetch('/auction/refuse/'+id, {
						   	  method: 'GET',
						   	  headers: {
						   		 'Content-Type': 'application/json'
						      }
					   	})
					   	.then(res =>{ return res.text()})
					    .then(results => {
					    	if (results === "OK") {
					    		$(".AlertChange").addClass("alert alert-success");
								$(".AlertChange").html('Từ chối thanh toán thành công');
								$(".AlertChange").fadeIn('slow');
								setTimeout(() => $(".AlertChange").fadeOut('slow'),10000);
                                $('#buttonModalDontPay').hide();
                                $('.buttonModalDontPayDone').show();
                                location.reload();
					   		}
					   		else {
                                console.log(results);
                                $('.buttonModalDontPay').prop("disabled", false);
                                $(".buttonModalDontPay").addClass('btn-danger');
					            $(".buttonModalDontPay").html('Xác nhận từ chối thanh toán');
                                $(".AlertChange").addClass("alert alert-danger");
								$(".AlertChange").html('Từ chối toán thất bại lỗi: '+results);
								$(".AlertChange").fadeIn('slow');
								setTimeout(() => $(".AlertChange").fadeOut('slow'),10000);
				   			} 
					    })
					    .catch(error => {
					    	console.log("Error: " + error);
					    });
                    }
            </script>
        </section>
    </div>
</body>
</html>
